@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  font-family: 'Roboto', sans-serif;

  padding: 0;
  margin: 0;
}

:root {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins',sans-serif;

}

body{
  min-height: 100vh;
  background:#6cb1ff
}


